<div class="cotainer text-center">

    <div class="row m-3">
      <div class="col">
        <b>Bulbasaur 001</b>
    </div>
    </div>
     <div class="row m-3">
        <div class="col">
          <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"
            width="200px"
        />
      </div>
  </div>

  <div class="row m-3">
    <div class="col">
      <b>Ivysuar 002</b>
  </div>
  </div>
   <div class="row m-3">
      <div class="col">
        <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/detail/002.png"
          width="200px"
      />
    </div>
</div>

<div class="row m-3">
  <div class="col">
    <b>Venosaur 003</b>
</div>
</div>
 <div class="row m-3">
    <div class="col">
      <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/detail/002.png"
        width="200px"
    />
  </div>
</div>



